<!DOCTYPE html>
<html>
    {% if page.relative_url %}
        {% assign to_url = page.relative_url | absolute_url %}
    {% else %}
        {% assign to_url = page.absolute_url %}
    {% endif %}
    <head>
        <meta charset="utf-8">
        <link rel="canonical" href="{{ to_url }}">
    </head>
    <body>
        <noscript>
            This page has moved to <a href='{{ to_url }}'>{{ to_url }}</a>
        </noscript>
        <div id="redirectMessage"></div>
        <script>
            document.getElementById("redirectMessage").innerHTML = "This page has moved to <a href='{{ to_url }}'>{{ to_url }}</a> (Redirecting...)";
            window.location.href = "{{ to_url }}" + window.location.search + window.location.hash;  // include GET params and fragments
        </script>
    </body>
</html>
